body{ 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: -webkit-linear-gradient(#def2f7,#009ec1);
    background: -o-linear-gradient(#def2f7,#009ec1);
    background: -moz-linear-gradient(#def2f7,#009ec1);
    background: linear-gradient(#def2f7,#009ec1);
    letter-spacing: 0.1px;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
}
#myCanvas{
    position: absolute;
    top: 10%;
    left: 280px;
    min-width: 330px;
    max-width: 800px;
    height: 92vh;
    min-height: 300px;
    max-height: 600px;
    background-color: #ffffff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: crosshair;
}
#toolbox{
    text-align: center;
    position: absolute;
    top: 10%;
    left: 80px;
    min-width: 200px;
    max-width: 200px;
    height: 92vh;
    min-height: 360px;
    max-height: 360px;
    background: -webkit-linear-gradient(#11c696,#edfcf8);
    background: -o-linear-gradient(#11c696,#edfcf8);
    background: -moz-linear-gradient(#11c696,#edfcf8);
    background: linear-gradient(#11c696,#edfcf8);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.row{
    width: 100%;
    text-align: center;
    line-height: 60px;
}
button{
    width: 50px;
    height: 50px;
    background: #757575;
    color: white;
    font-size: 22px;
    transition: background 0.3s;
    border-radius: 50%;
    box-shadow: none;
    border: 0;			
}
#fileElem{
    width: 50px;
    height: 50px;
    background: #757575;
    color: white;
    font-size: 22px;
    transition: background 0.3s;
    border-radius: 50%;
    box-shadow: none;
    border: 0;			
}

.slidecontainer {
    width: 100%;
    text-align: center;
  }
  
.slider {
-webkit-appearance: none;

height: 10px;
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider:hover {
opacity: 0.8;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
background: #4CAF50;
cursor: pointer;
}
#container{
	width: 100%;
	-webkit-align-self: center;
  align-self: center;
}
select{
    font-size: 30px;
}